@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="introducing">Kartkówka nr 6 z Platformy .NET</h1>
    <p>Wykonał: Szymon Lechowicz 24898</p>
    <p>Baza z piosenkami. Posiada funkcje CRUD.<br />Baza dostępna w zakładce "My playlist"</p>
</div>
